@model PRUV_WebApp.Models.Request

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestYear" class="control-label"></label>
                <input asp-for="RequestYear" class="form-control" />
                <span asp-validation-for="RequestYear" class="text-danger"></span>
            </div>
            <div class="container">
                <div class="text-container">
                    <label asp-for="RequestBrand" class="control-label"></label>
                    <input type="text" list="programmingLanguages" asp-for="RequestBrand" class="form-control" />
                    <datalist id="programmingLanguages">
                        <option value="Objective C">Objective C</option>
                        <option value="C++">C++</option>
                        <option value="C#">C#</option>
                        <option value="Cobol">Cobol</option>
                        <option value="Go">Go</option>
                        <option value="Java">Java</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="PHP">PHP</option>
                        <option value="Pascal">Pascal</option>
                        <option value="Perl">Perl</option>
                        <option value="R">R</option>
                        <option value="Swift">Swift</option>
                    </datalist>
                </div>
            
                
            </div>
            <div class="form-group">
                <label asp-for="RequestModel" class="control-label"></label>
                <input asp-for="RequestModel" class="form-control" />
                <span asp-validation-for="RequestModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
