@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Success!</h1>
    <p>Thank You for your submission. The Used and Vintage team will be in touch vi email shortly.</p>
</div>