@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><br /><br />Success!</h1>
    <p>Thank You for your submission.<br /> 
        The Used and Vintage team will be in touch via email shortly.</p>
</div>