@model PRUV_WebApp.Models.UserRequest

@{
    ViewData["Title"] = "Pricing Request";
    

}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1></h1>

<h4>Pricing Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <label asp-for="StoreID" class="control-label">Location</label>

            @Html.DropDownList("StoreID", ViewBag.Locations, "Select Location", new { id="locs", @class="form-control"})

            <div class="form-group">
                <label asp-for="UserID" class="control-label">Employee Number</label>
                <input asp-for="UserID" id="userID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestYear" class="control-label">Year</label>
                <input asp-for="RequestYear" class="form-control" />
                <span asp-validation-for="RequestYear" class="text-danger"></span>
            </div>
            <label asp-for="BrandId" class="control-label">Brand</label>

            @Html.DropDownList("BrandId", ViewBag.BrandList, "Select Brand", new { id="brands", @class="form-control"})
            

            <script type="text/javascript">

              

                $(function () {

                    //On page load, update the visiblity
                    var v = $("#brands").val();
                    UpdateDivVisibility(v);

                    //When user changes the dropdown, update visibility
                    $("#brands").change(function (e) {
                        var v = $("#brands").val();
                        UpdateDivVisibility(v);
                    });

                });

                function UpdateDivVisibility(isVisible) {
                    if (isVisible == "Other") {
                        $("#newBrand").show();
                        //

                    }
                    else {
                        //
                        $("#newBrand").hide();
                        //$("#newBrand").val($("#brands").val(););
                    }
                }

            </script>

            <div class="form-group" id="newBrand">
                <label for="newBrand" class="control-label">Enter a new Brand</label>
                <input name="newBrand" class="form-control" />

            </div>

            @* <div class="form-group" id="newBrand">
                <label asp-for="BrandId" class="control-label">Enter Brand</label>
                <input asp-for="BrandId" class="form-control" />
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="RequestModel" class="control-label">Model</label>
                <input asp-for="RequestModel" class="form-control" />
                <span asp-validation-for="RequestModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label">Serial Number</label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AskingPrice" class="control-label">Asking Price</label>
                <input asp-for="AskingPrice" class="form-control" />
                <span asp-validation-for="AskingPrice" class="text-danger"></span>
            </div>
          
            <label asp-for="BrandId" class="control-label">Case</label>

            @Html.DropDownList("CaseId", ViewBag.Cases, "Select Option", new { id="caseOption", @class="form-control"})

            <div class="row">
                <div class="col-md-2">
                    <label>Photo: </label>

                </div>
                <div class="col-md-10">
                    <input id="txtFile" type ="file" value="Upload File" style="width:100%;"/>
                </div>

            </div>
            <br/>
            <br/>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
