@model PRUV_WebApp.Models.UserRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RequestID" class="control-label"></label>
                <input asp-for="RequestID" class="form-control" />
                <span asp-validation-for="RequestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestYear" class="control-label"></label>
                <input asp-for="RequestYear" class="form-control" />
                <span asp-validation-for="RequestYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <input asp-for="BrandId" class="form-control" />
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestModel" class="control-label"></label>
                <input asp-for="RequestModel" class="form-control" />
                <span asp-validation-for="RequestModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Intiated" /> @Html.DisplayNameFor(model => model.Intiated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InitiatedBy" class="control-label"></label>
                <input asp-for="InitiatedBy" class="form-control" />
                <span asp-validation-for="InitiatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiatedAt" class="control-label"></label>
                <input asp-for="InitiatedAt" class="form-control" />
                <span asp-validation-for="InitiatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AskingPrice" class="control-label"></label>
                <input asp-for="AskingPrice" class="form-control" />
                <span asp-validation-for="AskingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retail" class="control-label"></label>
                <input asp-for="Retail" class="form-control" />
                <span asp-validation-for="Retail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseId" class="control-label"></label>
                <input asp-for="CaseId" class="form-control" />
                <span asp-validation-for="CaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
